@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-100 {
  position: relative;
  width: 100%;
  height: 5px;
  padding: 8px;
  background-color: #ccc;
  border-radius: 0.75rem;
}

.progress-bar__fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #6abf69;
  border-radius: 0.75rem;
  animation: fill-bar 1s ease-in-out forwards;
}

@keyframes fill-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.info-card-wrapper {
  position: absolute; /* or position: fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
