@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-enter {
  transform: translate-x-full;
}

.slide-in-enter-active {
  transform: translate-x-0;
  transition: transform 1s ease-in-out;
}

.slide-in-exit {
  transform: translate-x-0;
}

.slide-in-exit-active {
  transform: translate-x-full;
  transition: transform 1s ease-in-out;
}